:root {
  --success: #00e973;
  --danger: #b64f58;
  --bodyBg: rgb(67, 67, 67);
  --containerBg: #fafafa;
  --grey: lightgrey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background-color: var(--bodyBg);
}

.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--containerBg);
}

/********************
  HEADER / NEW BUTTON
********************/

#header {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: space-around;
}

#header h3 {
  color: rgb(164, 164, 164);
}

#modal_open {
  padding: 10px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: rgb(233, 233, 233);
  box-shadow: 5px 5px 5px rgb(216, 216, 216);
}

#modal_open:hover {
  cursor: pointer;
  background-color: var(--success);
}

/********************
    SEARCH INPUT
********************/

.search {
  margin: 20px;
}

.search i {
  margin-right: 10px;
  color: var(--grey);
}

.search input {
  padding: 12px;
  width: 90%;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--grey);
}

.search input:focus {
  box-shadow: 5px 5px 5px #ccc;
}

/********************
    MODAL Layout
********************/

/* background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.927); /* Black w/ opacity */
}

/* Content Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.modal_close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal_close:hover,
.modal_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/********************
    MODAL Content
********************/

#modal_form {
  display: flex;
  flex-direction: column;
}

.modal_header {
  margin-bottom: 30px;
}

.input_container {
  margin-bottom: 20px;
}

.input_container input {
  display: block;
  margin-top: 5px;
  width: 100%;
  padding: 12px;
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

/* dynamically added class for error messages */
.input_parent[data-error] .input {
  border-color: var(--danger);
  color: var(--danger);
  background: #fffafa;
}

.input_parent[data-error]::after {
  content: attr(data-error);
  font-size: 0.85em;
  color: var(--danger);
  display: block;
  margin: 10px 0;
}

/* form submit button */
#modal_form_btn {
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

#modal_form_btn:hover {
  cursor: pointer;
  background-color: var(--success);
}

/********************
    CONTACT LIST
********************/

.contact_list {
  margin: 20px 50px;
  margin-bottom: 0;
}

#accordion {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

#accordion h4 {
  margin-bottom: 5px;
}

#accordion h4 span {
  margin-right: 10px;
}

.contact_info p {
  margin-bottom: 5px;
}

.contact_info p span {
  margin-right: 5px;
}

.delete_contact {
  float: right;
  margin-top: -90px;
  padding: 6px 14px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: var(--danger);
  color: #fafafa;
  box-shadow: 5px 5px 5px #ccc;
}

.delete_contact:hover {
  cursor: pointer;
}

.fa {
  color: var(--grey);
}

/********************
    MOBILE VIEW
********************/

@media only screen and (max-width: 1100px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .modal-content {
    width: 90%;
  }
}
